html{
  height: 600px;
}

body {
  background-color: #fafafa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 600'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23248410'/%3E%3Cstop offset='1' stop-color='%23FFF7F8'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23388e25'/%3E%3Cstop offset='1' stop-color='%23fde2e3'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%234c993a'/%3E%3Cstop offset='1' stop-color='%23fbcdce'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%2360a34f'/%3E%3Cstop offset='1' stop-color='%23f9b8b8'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%2374ae64'/%3E%3Cstop offset='1' stop-color='%23f7a3a3'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%2388b879'/%3E%3Cstop offset='1' stop-color='%23f58e8e'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%239bc38f'/%3E%3Cstop offset='1' stop-color='%23f47879'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23afcda4'/%3E%3Cstop offset='1' stop-color='%23f26364'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23c3d8b9'/%3E%3Cstop offset='1' stop-color='%23f04e4f'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23d7e2ce'/%3E%3Cstop offset='1' stop-color='%23ee3939'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23ebede3'/%3E%3Cstop offset='1' stop-color='%23ec2424'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23FFF7F8'/%3E%3Cstop offset='1' stop-color='%23EA0F0F'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='600'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='600'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='600'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='600'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='600'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='600'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='600'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='600'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='600'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='600'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='600'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin: 0px auto;
  padding: 0px auto;
  height: 100%
}

/*TITULO*/

.tituloh1{
  font-size:60px ;
  color:#f4f8f8;
  font-family: 'Podkova', serif;
  letter-spacing: 5px;
  margin-top: 20px;
}


@-webkit-keyframes zoomIn {
  from {
  opacity: 0;
  -webkit-transform: scale3d(0.3, 0.3, 0.3);
  transform: scale3d(0.3, 0.3, 0.3);
}
50% {
  opacity: 0.3;
}
}
@keyframes zoomIn {
from {
  opacity: 0;
  -webkit-transform: scale3d(0.3, 0.3, 0.3);
  transform: scale3d(0.3, 0.3, 0.3);
}
50% {
  opacity: 0.5;
}
}
.zoomIn {
-webkit-animation-name: zoomIn;
animation-name: zoomIn;
}
.animated {
-webkit-animation-duration: 1s;
animation-duration: 1.5s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

/*CONTENEDOR APP*/
.containerApp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  height: 90vh;
  margin: 0;
}

.containerApp.salida{
  opacity: 0;
}

.btn_gral{
  font-family: 'Podkova', serif;
  margin: 30px;
  height: 80px;
  width: 330px;
  font-size:18px;
  background-color: #000000;;
  opacity: 0.7;
  border-radius: 20px;
  border: none;
  color:white;
  transition: transform 0.5s;
  transition: all 0.9s ease-in-out;
}

.btn_gral:hover{
  transform: scale(1.2); /*para definir tamaño*/
  background-color: #000000;
  letter-spacing: 5px;
}


/* Flip animation */

.flip {
transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
}


/*CONTENEDOR DE INFO */

.info{
  font-family: 'Podkova', serif;
  font-size: 20px;
  padding: 10px;
}

select{
  font-family: 'Podkova', serif;
  margin: 30px;
  height: 80px;
  width: 400px;
  font-size:18px;
  background-color: #020000;
  opacity: 0.7;
  border-radius: 20px;
  border: none;
  color:white;
  transition: transform 0.5s;
  transition: all 0.9s ease-in-out;
  text-align: center;
}

input{
  font-family: 'Podkova', serif;
  font-size:18px;
  background-color: #020000;
  opacity: 0.7;
  border-radius: 20px;
  border: none;
  color:white;
  transition: transform 0.5s;
  transition: all 0.9s ease-in-out;
  text-align: center;
}

select option{
  background-color: #302e2e;
  opacity: 0.7;
  border-radius: 20px;
  border: none;
}

button{
  font-family: 'Podkova', serif;
  margin: 10px;
  font-size:18px;
  background-color: #020000;
  opacity: 0.7;
  border-radius: 20px;
  border: none;
  color:white;
  transition: transform 0.5s;
  transition: all 0.9s ease-in-out;
  text-align: center;
}


@media (max-width: 991.99px){
  .tituloh1{
    font-size:50px ;
    text-align: center;
  }
  .btn_gral{
    margin: 20px;
    height: 80px;
    width: 260px;
    font-size:25px;
  }
  select{
    margin: 20px;
    height: 80px;
    width: 340px;
    font-size:25px;
  }
  .info{
    font-size: 20px;
  }
  input{
    width: 350px;
    font-size:16px ;
  }
  .inputcbu{
    width: 250px;
    font-size:16px ;
  }
}

@media (max-width: 541px){
  .tituloh1{
    font-size:40px ;
    text-align: center;
  }
  .btn_gral{
    margin: 20px;
    height: 80px;
    width: 230px;
    font-size:25px;
  }
  select{
    margin: 20px;
    height: 80px;
    width: 280px;
    font-size:25px;
  }
  .info{
    font-size: 25px;
  }
  input{
    width:280px;
    font-size:20px ;
  }
  .inputcbu{
    width: 240px;
    font-size:20px ;
  }
}

@media (max-width: 431px){
  .tituloh1{
    font-size:35px ;
    text-align: center;
  }
  .btn_gral{
    margin: 20px;
    height: 70px;
    width: 210px;
    font-size:20px;
  }
  select{
    margin: 20px;
    height: 60px;
    width: 260px;
    font-size:20px;
  }
  .info{
    font-size: 20px;
  }
  input{
    width:260px;
    font-size:15px ;
  }
  .inputcbu{
    width: 200px;
    font-size:15px ;
  }
}

@media (max-width: 361px){
  .tituloh1{
    font-size:30px ;
    text-align: center;
  }
  .btn_gral{
    margin: 20px;
    height: 60px;
    width: 200px;
    font-size:18px;
  }
  select{
    margin: 20px;
    height: 60px;
    width: 250px;
    font-size:18px;
  }
  .info{
    font-size: 20px;
  }
  input{
    width:260px;
    font-size:15px ;
  }
  .inputcbu{
    width: 200px;
    font-size:15px ;
  }
}